name: Publish on Docker Hub and Deploy

on:
  release:
    types: [published]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run tests
        run: coverage run app/tests.py
      - name: Tests report
        run: coverage report
  build_and_pub:
    needs: [run_tests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo ${GITHUB_REF:11})
      - name: Build and Publish Site to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PWD }}
          tags: "latest,${{ steps.get_version.outputs.VERSION }}"
      - name: Build and Publish Telegram Bot to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PWD }}
          dockerfile: tg.dockerfile
          tags: "latest-tg-bot,${{ steps.get_version.outputs.VERSION }}-tg-bot"
